.navbar-holder {
  height: 50px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  height: 50px;
  padding-left: 10px;
}

#youtube-logo {
  background-image: url("./images/youtube-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  width: 80%; /* Responsive width that will shrink */
  max-width: 150px; /* Maximum width for larger screens */
  height: 40px; /* Keeps consistent height */
  margin: 0;
  padding: 0;
}

#home-item {
  background-color: #f2f2f2;
}

#home-item:hover {
    background-color: #e6e6e6;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px;
  text-decoration: none;
  border-radius: 15px;
}

.menu-item:hover {
  background-color: #f2f2f2;
}

p {
  margin: 0;
}

.fa-solid.fa-play {
  padding-right: 7px;
}

.section-title {
  display: flex;
  align-items: center;
}

.fa-solid.fa-lines-leaning {
  padding-right: 5px;
}

.fa-regular.fa-lightbulb {
    padding-right: 3px;
}

.menu-title {
  padding: 10px;
}

.fa-brands.fa-square-youtube {
    padding-right: 5px;
}

.fa-regular.fa-flag {
    padding-right: 2px;
}

#search-bar > input {
    border-radius: 20px 0 0 20px;
    padding-left: 15px;
    width: 50%;
    margin-top: 8px;
}

#form-button {
    display: flex; /* Centers the icon within the button */
    align-items: center; /* Centers vertically */
    justify-content: center; /* Centers horizontally */
    border: 1px solid #dfe2e6;
    border-radius: 0 20px 20px 0;
    height: 100%;
    padding: 8px 10px;
}

.fa-solid.fa-magnifying-glass {
    font-size: 14px;
    line-height: 1;
}

.top-right-bar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.top-icons > i {
  padding: 10px;
}

.top-icons :not(:last-child):hover {
  background-color: #e5e5e5;
  border-radius: 20px;
}

.top-icons :last-child {
  background-color: orange;
  padding: 8px;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  text-align: center;
  line-height: 1
}